language: python

python:
  - "3.5"

env:
  global:
    - DJANGO_SETTINGS_MODULE=ScheduleApp.settings
    - secure: QkW+LIu55XXwD5KkGFx7xW4IBRZ04GkbflMeNLh79I9Gx3qO3Hs662xgJMiYHfCCF209JfyZlI91cfQHnNlkOgYR8y9zNjKmIDnE3t/fVq+ZIXY/1XqAL9MnUYEPriTUWsVPsgva0tp5gnY3LgBkWLBc7+7ZMNyqzvYiH7OPsdeXMW8BFusGqAEnbHQZXZUS0BEY1WHVYhQ/nDPSA34RN315z1JmuyvFM8PVVBEczp3uQzufKrwLogskk0IWGLqyGZozySrqwaMxKX5EXJWv403t6JHWSUKjkIPR2Ai3EJv0VE7uQz13zuDBaavIW05AdzvD5O0M2dVQNKig0v2kkuTsqBZM7iuTL5J3PvEwxO6XgTe2M8jsesNmu8F0uPbAthQloqP/SELhquNScQ4tfzolnyl95jMXA/vLAUZ3MKsxbH5h9OAzipHFruvtTsnKGp7VrIQtzQoE3x23F7887kJdDIF30FC6vFW1VyrzaJsHoNteHQ36IKsV3mBePAZN4Yp9mTiCCXaE/pJmcBRVwgJkJXTKP2vOnYEa8bmzEQ6ryK5zGg5VaKiFBZ0VG2oaDIu2S3v27Bu4FOKpEAhjUh/pg0hBTrFXRIRxyRnCS8fT3xMhlhjOMOIkAOosYHwds1znZw9tlwdXOp6JE3qKoDsRASv5kan/uNiYavsX9WA=


install: "pip install -r requirements.txt"

script: sh ci_script.sh

notifications:
  slack: spbgti:DISw2DtYSQ3gQ8jB9NvTbSYG

deploy:
  provider: heroku
  api_key:
    secure: "EP0aof7lpo1hVzHpwGf+iVxoMX5BZSj3Z5AL1urBoGZ00BDxh+8RnG7/udeF71jPaFgevf10TgEHmlbwTBWqJ1GT1vN91k3adhV16zr+OgXhu9Q2sVRotVJSBLA49B3vTRpSxW1xMe56/Q5nTnmwkasb341r2wNzvacS5LeEv1QEo4tDXiSNq01ESN5XbG3h8s08hROfmttYtUFMeVIMqau85RaQKaqHyGdyN8HmPUbBVl6ebtIJ6TYjfnJwD7wnSPFBovpEzzU22C62qNFQrGXdSX0EpaLoqPqpPX+Qz2cygHSOEx2WfyWOY5PQlLWmyVhwjjg7gBFUaSWvFj0oXIye43R5GUvBF9JYSbqrxawk1vqGZhMNDonYb23DEqKLyIv0K4+eb2J14XCeOT7E9zsfpdxqO+zM1vOd79ZoXbRu2O7U3eGsUSejgM+jgAchiuz80scOM1ZV2nSXK3jiTe3ZPpM2Zr0A3Tyx4i3P01uxAebazY5hXkbBuVWPjOTlwe+FC7vKxV41YDQkkXw2pNVc0GE/0fCyoAcnkq0oEBAz+2/qL8FgFP9YpV3ifMi59+Fv9ek7GZ3gBuUAqPVWxGTKAg/jf27feQb1xR0aVG1vvcNkmlBdBZSqtHPEnMVEU04/2DLDkE6yEg4SKm+W0zyQbEgrdpPr4X5MlujaY9w="
  app:
    dev:
      spbgti-tools-schedule-staging
    master:
      spbgti-tools-schedule
  run:
    dev:
      - "sh heroku.sh --app spbgti-tools-schedule-staging"
    master:
      - "sh heroku.sh --app spbgti-tools-schedule"
  after_deploy:
    - echo "Running integration tests"
