<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form method="post" action=""> {% csrf_token %}
        {{ formset.management_form }}
        <table style="float:left;">
            <tr><th></th><td>{{ 'Четная'  }}</td></tr>
            {% for form in formset|slice:":20" %}
                {% if forloop.counter0|divisibleby:4 %}
                    <tr><th></th><td>{{ '-----------'|linebreaks }}</td></tr>
                {% else %}
                    <tr><th></th><td>{{ '-' }}</td></tr>
                {% endif %}
                {{ form }}
            {% endfor %}
        </table>
        <div style="min-width: 50px; float:left;">_</div>
        <table style="float:left;">
            <tr><th></th><td>{{ 'Нечетная' }}</td></tr>
            {% for form in formset|slice:"20:" %}
                {% if forloop.counter0|divisibleby:4 %}
                    <tr><th></th><td>{{ '-----------'|linebreaks }}</td></tr>
                {% else %}
                    <tr><th></th><td>{{ '-' }}</td></tr>
                {% endif %}
                {{ form }}
            {% endfor %}
        </table>
        <input type="submit" value="OK" style="float: left;">
    </form>
</body>
</html>