<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <p>Памятка:</p>
        <p>Название пары - большими буквами, в скобках уточнения (к примеру - срок проведения, элективность)</p>
        <p>Типы через запятую с пробелом. Может быть пустым. Типы: к/р; к/р; лек; практ; лаб</p>
        <p>Локация - если ничего не указано, то пустое (это тоже самое что и "на кафедре").
            В ином случае - кафедра/аудитория/кафедра+аудитория. Пример: АПХП; 55; СА 6; ОХТиК</p>
        <p>Преподы. Может быть пустым. Формат через запятую с пробелом Фамилия И.О.. Пример: Иванов М.И.; Петров К.А., Сидорова М.Я.</p>
        <p>Если пара сразу на обе недели - позаботьтесь о полностью идентичном виде справа и слева</p>
        <p>Часто встречающиеся ошибки: Фамилия без ИО (нужно нагуглить), срок проведения в локации (перенести в название в скобки)</p>
    </div>
    <form method="post" action=""> {% csrf_token %}
        {{ formset.management_form }}
        <table style="float:left;">
            <tr><th></th><td>{{ 'Четная'  }}</td></tr>
            {% for form in formset|slice:":20" %}
                {% if forloop.counter0|divisibleby:4 %}
                    <tr><th></th><td>{{ '-----------'|linebreaks }}</td></tr>
                {% else %}
                    <tr><th></th><td>{{ '-' }}</td></tr>
                {% endif %}
                {{ form }}
            {% endfor %}
        </table>
        <div style="min-width: 50px; float:left;">_</div>
        <table style="float:left;">
            <tr><th></th><td>{{ 'Нечетная' }}</td></tr>
            {% for form in formset|slice:"20:" %}
                {% if forloop.counter0|divisibleby:4 %}
                    <tr><th></th><td>{{ '-----------'|linebreaks }}</td></tr>
                {% else %}
                    <tr><th></th><td>{{ '-' }}</td></tr>
                {% endif %}
                {{ form }}
            {% endfor %}
        </table>
        <input type="submit" value="OK" style="float: left;">
    </form>
</body>
</html>